<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Products</title>
</head>
<body>
  <h1>Cart</h1>
  <% array = [] %>
  <% cart.map do |product| %>
    <% array << product %>
  <% end %>
  Cart Contains: <%= array %>

  <%= form_tag('/add', method: "post") %>
    <%= label_tag(:product, "New Item:")%>
    <%= text_field_tag(:product) %>
  <%= submit_tag("add to cart") %>
 
</body>
</html>